@model  List<Demo.Models.TeamModel>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<!-- #region datatables files -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"></script>
<!-- #endregion -->
<h1>Team</h1>

    <table id="tblGrid" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.Name </td>
                </tr>

            }

        </tbody>
    </table>

<script>

    $(document).ready(function () {
        $('#tblGrid').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Add',
                    action: function (e, dt, node, config) {
                         personalDetails();
                    }                    
                }
            ]
        });

        function personalDetails() {           
            window.location.href = "@Url.Action("Detail","Detail")"
        }

    });

</script>